body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.first-navigation ul a {
  color: rgb(37, 37, 37);
  /* padding-bottom: 10px; */
}

.first-navigation ul a:not(.first-navigationul li:last-of-type) {
  margin-right: 20px;
}

.top-cta-btns-wrapper {
  margin-left: 20px;
}

@media (max-width: 576px) {
  .top-cta-btns-wrapper {
    margin-left: 0px;
  }
}

.top-cta-btns-wrapper button {
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 5px 10px;
}

@media (max-width: 576px) {
  .top-cta-btns-wrapper button {
    padding: 5px 25px;
    border-radius: 20px;
  }
}

.top-cta-btns-wrapper .join-thenetwork-btn {
  background: #098ece;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .top-cta-btns-wrapper .join-thenetwork-btn {
    margin-right: 0;
  }

  .get-jaelapp-section img:nth-of-type(2) {
    margin-top: 20px;
  }
}

.top-cta-btns-wrapper .partner-btn {
  border: 1px solid #098ece;
}

.jaelcarouselwrapper {
  max-height: 600px;
}

@media (max-width: 576px) {
  .jaelcarouselwrapper {
    max-height: 900px;
  }
}

.jaelcarouselwrapper .left__content {
  flex: 1;
  line-height: 1.8em;
  padding-left: 80px;
  overflow: hidden;
}

@media (max-width: 576px) {
  .jaelcarouselwrapper .left__content {
    padding-left: 25px;
  }
}

.jaelcarouselwrapper .left__content .becomepartner-callto-action input {
  padding: 8px;
  background: #ffffff;
  border: 1px solid #a5a5a5;
  border-radius: 10px 0 0 10px;
}

.jaelcarouselwrapper .left__content .becomepartner-callto-action button {
  padding: 9px 25px;
  background: #098ece;
  border-radius: 0 10px 10px 0;
  border: none;
  outline: none;
}

@media (max-width: 576px) {
  .jaelcarouselwrapper .left__content .becomepartner-callto-action input {
    border-radius: 10px;
  }

  .jaelcarouselwrapper .left__content .becomepartner-callto-action button {
    border-radius: 10px;
  }
}

@media (max-width: 576px) {
  .left__content {
    margin-bottom: 30px;
  }
}

.jaelcarouselwrapper .left__content .titlecaption .red_emph {
  color: #f62200;
}

.jaelcarouselwrapper .left__content .titlecaption .blue_emph {
  color: #098ece;
}

.jaelcarouselwrapper .left__content .titlecaption::before {
  content: "";
  background-image: url("../img/dots.svg");
  background-size: 100px 100px;
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  left: -90px;
  top: -30px;
}

.jaelcarouselwrapper .left__content .titlecaption::after {
  content: "";
  background-image: url("../img/dots-horizontal.svg");
  background-size: 100px 100px;
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 200px;
  bottom: -90px;
}

.jaelcarouselwrapper .right__content {
  flex: 1;
  background: #e7ecee;
  overflow: hidden;
  border-radius: 0 0 0 20px;
}

.jaelcarouselwrapper .right__content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-controls img:first-of-type {
  margin-right: 25px;
}

.carousel-controls .prev-next-wrapper img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.carousel-controls .line-indicators {
  margin-right: 10em;
}

.carousel-controls .line-indicators img {
  height: 6px;
}

.top_navigation .jauto_logo {
  width: 220px;
}

.top_navigation .hamburgermobile {
  width: 60px;
}

.hamburgermobile {
  cursor: pointer;
}

.whocanjoin-section .whocanjoincontent {
  background: url("../img/footer-tireprint.png") no-repeat bottom left,
    url("../img/gear-print.png") no-repeat 30em 0em;
  background-color: #098ece;
  padding: 5em 1.5em 0 4em;
}

@media (max-width: 567px) {
  .whocanjoin-section .whocanjoincontent {
    padding: 1em 1.5em;
  }
}
.whocanjoin-section .outline-text {
  max-width: 300px;
}

.whocanjoin-section .whocanjoinimg {
  object-fit: cover;
  background: #098ece;
}

.whocanjoin-section .whocanjoinimg img {
  width: 100%;
  height: 100%;
}

.transforming-section {
  padding: 100px 0;
  background: #f1f3f5 url("../img/partners/tire printtt.png") no-repeat fixed
    top right;
}

@media (max-width: 576px) {
  .transforming-section {
    padding: 50px 0 0;
  }
}
/* .transforming-section .partners-logo:not(.transforming-section .partners-logo:last-of-type) {
  margin-right: 5spx;
}

.transforming-section .partners-logo::after {
} */

.transforming-section .motot-meks-logo::after {
  content: url("../img/partners/Motormechs-grey.png");
}

.transforming-section .jta-logo::after {
  content: url("../img/partners/J3motorm-color.png");
}

.transforming-section .autoei-logo::after {
  content: url("../img/partners/automotive-grey.png");
}

.why-jael-section {
  padding: 100px 0;
  max-width: 1400px;
  margin: 0 auto;
}

.why-jael-section .whyjael-card-item {
  width: 280px;
  height: 320px;

  background: #ffffff;
  border: 1px solid #bdbdbd;
  /* box-sizing: border-box; */
  border-radius: 30px;
}

/* .why-jael-section .whyjael-card-item:not(.why-jael-section .whyjael-card-item:last-of-type){
  margin-right: 40px;
} */

.why-jael-section .whyjael-card-item h2 {
  color: #098ece;
}

.why-jael-section .whyjael-card-item .rounded-circle {
  background-color: #e6eef1;
}

.whyjael-card-item .description {
  color: #828282;
  font-size: 14px;
}

.whyjael-card-item .title {
  font-weight: 600;
}

.whyjael-card-item svg {
  position: absolute;
  width: 61px;
  height: 61px;
  top: 10px;
  left: -6px;
}

.whyjael-card-item:hover {
  color: white;
  background: #098ece;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s;
}

.whyjael-card-item:hover p {
  color: white;
}

.whyjael-card-item:hover .rounded-circle {
  background: #41aadb;
}

.whyjael-card-item:hover path {
  fill: white;
}

.jael-blueheading {
  color: #098ece;
}

.howitworks-section {
  padding: 100px 0;
  background: #fbfbfb;
  /* background: #f1f3f5 url("img/partners/tire printtt.png") no-repeat center; */
}

.howitworks-section .howitworks-card-item {
  width: 280px;
  height: 320px;

  background: #ffffff;
  border: 1px solid #bdbdbd;
  /* box-sizing: border-box; */
  border-radius: 30px;
}

.howitworks-card-item .description {
  color: #828282;
  font-size: 14px;
}

.howitworks-section img {
  height: 300px;
}

@media (max-width: 576px) {
  .howitworks-section img {
    height: auto;
    width: 100%;
  }
}

.certifications-section {
  padding: 100px 0;
  /* background: #FBFBFB; */
  /* background: #f1f3f5 url("img/partners/tire printtt.png") no-repeat center; */
}

@media (max-width: 576px) {
  .certifications-section {
    padding-bottom: 0px;
  }
}

.certifications-section img {
  width: 88%;
  height: auto;
}

video {
  border-radius: 20px;
}

.get-jaelapp-section {
  padding: 6em 0 6em 15em;

  background: url("../img/tyre 1.png") no-repeat center top,
    url("../img/gear-print.png") no-repeat -2em -13em;
  background-color: #098ece;

  border-radius: 30px;
  position: relative;
}

@media (max-width: 576px) {
  .get-jaelapp-section {
    padding: 4em 1.4em;
  }
}

/* .get-jaelapp-section small {
 max-width: 100px;
} */

.get-jaelapp-section .download-btns img {
  height: 50px;
}

.mobile-phone-view {
  position: absolute;
  top: -90px;
  right: 12em;
}

@media (max-width: 576px) {
  .mobile-phone-view {
    display: none;
  }
}

.jael-footer {
  margin-top: 100px;
  background: #098ece url("../img/footer-tireprint.png") no-repeat fixed bottom
    right;
  border-radius: 30px 30px 0 0;
}

.jael-footer ul li {
  margin: 10px;
  margin-bottom: 0;
  color: white;
}

.jael-footer .copyright-text-footer {
  font-size: 14px;
}

.jael-footer .copyright-text-footer svg {
  width: 15px;
}

@media (max-width: 576px) {
  .jael-footer {
    font-size: 14px;
  }

  .jael-footer .copyright-text-footer {
    font-size: 12px;
  }
}

.call-toaction-join-anchor {
  background: #098ece;
  border-radius: 12px;
  max-width: 160px;
  padding: 5px;
  outline: none;
  border: none;
}
/* 
#partner-success-message {
  visibility: hidden;
} */

.coming-soon-jael-tooltip {
  padding: 20px;
  /* background: #098ece; */
  /* color: white; */
}

.mobile-nav-list li {
  margin: 3em 0;
  font-size: 18px;
}

.mobile-nav-list a {
  color: black;
}

.mobile-nav-wrapper {
  padding-left: 1.5em;
}

.mobile-navigation {
  transition: all 1s;
}

.mobile-navigation-closed {
  left: -500px;
}

/* Safari fix */
div.slick-slider {
  width: 1px;
  min-width: 100%;
  *width: 100%;
}
